// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2023 Jisheng Zhang <jszhang@kernel.org>
 */

#include "th1520-lichee-module-4a.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Sipeed Lichee Pi 4A";
	compatible = "sipeed,lichee-pi-4a", "sipeed,lichee-module-4a", "thead,th1520";

	aliases {
		gpio0 = &gpio0;
		gpio1 = &gpio1;
		gpio2 = &gpio2;
		gpio3 = &gpio3;
		gpio4 = &gpio4;
		gpio5 = &aogpio;
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		i2c3 = &i2c3;
		serial0 = &uart0;
		serial1 = &uart1;
		serial2 = &uart2;
		serial3 = &uart3;
		serial4 = &uart4;
		serial5 = &uart5;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	fan: pwm-fan {
		pinctrl-names = "default";
		pinctrl-0 = <&fan_pins>;
		compatible = "pwm-fan";
		#cooling-cells = <2>;
		pwms = <&pwm 1 10000000 0>;
		cooling-levels = <0 66 196 255>;
	};

	hub_5v: regulator-hub-5v {
		compatible = "regulator-fixed";
		regulator-name = "HUB_5V";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
		enable-active-high;
		gpio = <&ioexp3 3 GPIO_ACTIVE_HIGH>;
	};

	vcc5v_usb: regulator-vcc5v-usb {
		compatible = "regulator-fixed";
		regulator-name = "VCC5V_USB";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpio = <&gpio1 22 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v_usb_pins>;
	};

	thermal-zones {
		cpu-thermal {
			polling-delay = <1000>;
			polling-delay-passive = <1000>;
			thermal-sensors = <&pvt 0>;

			trips {
				trip_active0: active-0 {
					temperature = <39000>;
					hysteresis = <5000>;
					type = "active";
				};

				trip_active1: active-1 {
					temperature = <50000>;
					hysteresis = <5000>;
					type = "active";
				};

				trip_active2: active-2 {
					temperature = <60000>;
					hysteresis = <5000>;
					type = "active";
				};
			};

			cooling-maps {
				map-active-0 {
					cooling-device = <&fan 1 1>;
					trip = <&trip_active0>;
				};

				map-active-1 {
					cooling-device = <&fan 2 2>;
					trip = <&trip_active1>;
				};

				map-active-2 {
					cooling-device = <&fan 3 3>;
					trip = <&trip_active2>;
				};
			};
		};
	};

	wifi_pwrseq: wifi-pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&ioexp2 4 GPIO_ACTIVE_LOW>;
	};
};

&aogpio {
	usb-sel-hog {
		gpio-hog;
		gpios = <4 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "USB_SEL";
	};
};

&dpu {
        status = "okay";
};

&disp1_out {
	remote-endpoint = <&hdmi_tx_in>;
};

&hdmi_tx {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hdmi>;

	port@0 {
		/* input */
		hdmi_tx_in: endpoint {
			remote-endpoint = <&disp1_out>;
		};
	};
};


&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pins>;
	clock-frequency = <100000>;
	i2c-sda-hold-time-ns = <300>;
	i2c-sda-falling-time-ns = <510>;
	i2c-scl-falling-time-ns = <510>;
	status = "okay";

	ioexp1: gpio@18 {
		compatible = "nxp,pca9557";
		reg = <0x18>;
		gpio-controller;
		#gpio-cells = <2>;
		gpio-line-names = "cam0_dvdd12",
				  "cam0_avdd28",
				  "cam0_dovdd18";
	};
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins>;
	clock-frequency = <100000>;
	i2c-sda-hold-time-ns = <300>;
	i2c-sda-falling-time-ns = <510>;
	i2c-scl-falling-time-ns = <510>;
	status = "okay";

	ioexp2: gpio@18 {
		compatible = "nxp,pca9557";
		reg = <0x18>;
		gpio-controller;
		#gpio-cells = <2>;
		gpio-line-names = "",
				  "cam0_reset",
				  "cam1_reset",
				  "cam2_reset",
				  "wl_host_wake",
				  "bt_resetn",
				  "",
				  "bt_host_wake";
	};
};

&i2c3 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3_pins>;
	clock-frequency = <100000>;
	i2c-sda-hold-time-ns = <300>;
	i2c-sda-falling-time-ns = <510>;
	i2c-scl-falling-time-ns = <510>;
	status = "okay";

	ioexp3: gpio@18 {
		compatible = "nxp,pca9557";
		reg = <0x18>;
		gpio-controller;
		#gpio-cells = <2>;
		gpio-line-names = "tp0_rst",
				  "",
				  "",
				  "vcc5v_usb",
				  "vdd28_tp0",
				  "vdd33_lcd0",
				  "vdd18_lcd0",
				  "lcd0_reset";
	};
};

&padctrl0_apsys {
	fan_pins: fan-0 {
		pwm1-pins {
			pins = "GPIO3_3"; /* PWM1 */
			function = "pwm";
			bias-disable;
			drive-strength = <25>;
			input-disable;
			input-schmitt-disable;
			slew-rate = <0>;
		};
	};

	/*pinctrl_hdmi: hdmigrp {
		hdmi-pins {
			pins = "HDMI_SCL", "HDMI_SDA", "HDMI_CEC";
			function = "hdmi";
			bias-disable;
			slew-rate = <0>;
		};

	};*/

	pinctrl_hdmi: hdmigrp {
		hdmi_scl_pin: hdmi-scl {
			pins = "HDMI_SCL";
			function = "hdmi";
			input-enable;
			bias-disable;
			drive-strength = <3>;
			slew-rate = <0>;
			input-schmitt-disable;
		};

		hdmi_sda_pin: hdmi-sda {
			pins = "HDMI_SDA";
			function = "hdmi";
			input-enable;
			bias-disable;
			drive-strength = <3>;
			slew-rate = <0>;
			input-schmitt-disable;
		};

		hdmi_cec_pin: hdmi-cec {
			pins = "HDMI_CEC";
			function = "hdmi";
			input-enable;
			bias-disable;
			drive-strength = <3>;
			slew-rate = <0>;
			input-schmitt-disable;
		};
	};


	i2c3_pins: i2c3-0 {
		i2c-pins {
			pins = "I2C3_SCL", "I2C3_SDA";
			function = "i2c";
			bias-disable; /* external pull-up */
			drive-strength = <7>;
			input-enable;
			input-schmitt-enable;
			slew-rate = <0>;
		};
	};

	uart0_pins: uart0-0 {
		tx-pins {
			pins = "UART0_TXD";
			function = "uart";
			bias-disable;
			drive-strength = <3>;
			input-disable;
			input-schmitt-disable;
			slew-rate = <0>;
		};

		rx-pins {
			pins = "UART0_RXD";
			function = "uart";
			bias-disable;
			drive-strength = <1>;
			input-enable;
			input-schmitt-enable;
			slew-rate = <0>;
		};
	};
};

&padctrl1_apsys {
	bluetooth_pins: bluetooth-0 {
		host-wake-pins {
			pins = "GPIO0_28";
			bias-disable;
			drive-strength = <1>;
			input-enable;
			input-schmitt-enable;
			slew-rate = <0>;
		};
	};

	i2c0_pins: i2c0-0 {
		i2c-pins {
			pins = "I2C0_SCL", "I2C0_SDA";
			function = "i2c";
			bias-disable; /* external pull-up */
			drive-strength = <7>;
			input-enable;
			input-schmitt-enable;
			slew-rate = <0>;
		};
	};

	i2c1_pins: i2c1-0 {
		i2c-pins {
			pins = "I2C1_SCL", "I2C1_SDA";
			function = "i2c";
			bias-disable; /* external pull-up */
			drive-strength = <7>;
			input-enable;
			input-schmitt-enable;
			slew-rate = <0>;
		};
	};

	uart1_pins: uart1-0 {
		tx-pins {
			pins = "UART1_TXD";
			function = "uart";
			bias-disable;
			drive-strength = <3>;
			input-disable;
			input-schmitt-disable;
			slew-rate = <0>;
		};

		rx-pins {
			pins = "UART1_RXD";
			function = "uart";
			bias-disable;
			drive-strength = <1>;
			input-enable;
			input-schmitt-enable;
			slew-rate = <0>;
		};
	};

	uart3_pins: uart3-0 {
		tx-pins {
			pins = "UART3_TXD";
			function = "uart";
			bias-disable;
			drive-strength = <3>;
			input-disable;
			input-schmitt-disable;
			slew-rate = <0>;
		};

		rx-pins {
			pins = "UART3_RXD";
			function = "uart";
			bias-disable;
			drive-strength = <1>;
			input-enable;
			input-schmitt-enable;
			slew-rate = <0>;
		};
	};

	uart4_pins: uart4-0 {
		tx-pins {
			pins = "UART4_TXD";
			function = "uart";
			bias-disable;
			drive-strength = <13>;
			input-disable;
			input-schmitt-disable;
			slew-rate = <0>;
		};

		rx-pins {
			pins = "UART4_RXD";
			function = "uart";
			bias-pull-up;
			drive-strength = <1>;
			input-enable;
			input-schmitt-enable;
			slew-rate = <0>;
		};

		cts-pins {
			pins = "UART4_CTSN";
			function = "uart";
			bias-pull-down;
			drive-strength = <1>;
			input-enable;
			input-schmitt-enable;
			slew-rate = <0>;
		};

		rts-pins {
			pins = "UART4_RTSN";
			function = "uart";
			bias-disable;
			drive-strength = <13>;
			input-disable;
			input-schmitt-disable;
			slew-rate = <0>;
		};
	};

	vcc5v_usb_pins: vcc5v-usb-0 {
		enable-pins {
			pins = "GPIO1_22";
			bias-disable;
			drive-strength = <3>;
			input-disable;
			input-schmitt-disable;
			slew-rate = <0>;
		};
	};
};

&sdio1 {
	#address-cells = <1>;
	#size-cells = <0>;
	bus-width = <4>;
	cap-sd-highspeed;
	max-frequency = <100000000>;
	mmc-pwrseq = <&wifi_pwrseq>;
	non-removable;
	status = "okay";

	rtl8723ds: wifi@1 {
		reg = <1>;
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pins>;
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pins>;
	status = "okay";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart3_pins>;
	status = "okay";
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart4_pins>, <&bluetooth_pins>;
	uart-has-rtscts;
	status = "okay";

	bluetooth {
		compatible = "realtek,rtl8723ds-bt";
		device-wake-gpios = <&ioexp2 7 GPIO_ACTIVE_HIGH>; /* BT_HOST_WAKE_DEV */
		host-wake-gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>; /* BT_DEV_WAKE_HOST / GPIO02 */
		enable-gpios = <&ioexp2 5 GPIO_ACTIVE_HIGH>; /* BT_RESETN */
	};
};

&usb {
	status = "okay";
	vbus-supply = <&vcc5v_usb>;
};

&usb_dwc3 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	hub_2_0: hub@1 {
		compatible = "usb2109,2817";
		reg = <1>;
		peer-hub = <&hub_3_0>;
		vdd-supply = <&hub_5v>;
	};

	hub_3_0: hub@2 {
		compatible = "usb2109,817";
		reg = <2>;
		peer-hub = <&hub_2_0>;
		vdd-supply = <&hub_5v>;
	};
};
